/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: lightgrey;
}
ul {
  list-style: none;
}
/* Custom css */

.d-flex {
  display: flex;
}
.white {
  color: white;
}
.container {
  width: 95%;
  margin: 0 auto;
}
nav {
  background: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  color: lightgray;
  border-bottom: 1px solid white;
}
nav h2 {
  padding: 0.5%;
}

nav ul {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.bg-section {
  background-image: url(../images/bg1.jpg);
  height: 500px;
}
.down-text {
  justify-content: center;
}
.circle-text {
  width: 33%;
}
